footer.footer
  .footer__top
    ul.footer-buttons__list
        +list('footer-buttons', ["Мои работы"], "projects.html")
        +list('footer-buttons', ["Обо мне"], "about.html")
        +list('footer-buttons', ["Блог"], "blog.html")
        +list('footer-buttons', ["Авторизация"], "index.html")
    ul.socials__list.socials__list-footer
        li.list__item
            a.item__link.item__link-footer(href="https://vk.com/id12293701")
                include ../../icons/vk.svg
        li.list__item
            a.item__link.item__link-footer(href="https://github.com/MaksimOrekhov")
                include ../../icons/github.svg
        li.list__item
            a.item__link.item__link-footer.item__link-footer-in(href="https://linkedin.com")
                include ../../icons/in.svg
  .footer__bottom
    .bottom__left Я веб-разработчик из Брянска, и этот сайт я сделал в рамках обучения в Школе онлайн образования  LoftSchool. 
    .bottom__right 
      .copyright__text.copyright__text-footer &#169; Максим Орехов | создано с любовью в LoftSchool | 2017