.top__header
  ul.socials__list.socials__list-about
    li.list__item
      a.item__link.item__link-about(href="https://vk.com/id12293701")
        include ../../icons/vk.svg
    li.list__item
      a.item__link.item__link-about(href="https://github.com/MaksimOrekhov")
        include ../../icons/github.svg
    li.list__item
      a.item__link.item__link-about(href="https://linkedin.com")
        include ../../icons/in.svg
  .hamburger
    input(type="checkbox" class="hamburger__checkbox")
    span.hamburger__line
    span.hamburger__line
    span.hamburger__line