.fp-menu__container
  ul.fp-menu__list
    li.fp-menu__item
      a(href="projects.html" class="fp-menu__link") Мои работы
    li.fp-menu__item
      a(href="blog.html" class="fp-menu__link") Блог
    li.fp-menu__item
      a(href="about.html" class="fp-menu__link") Обо мне
    li.fp-menu__item
      a(href="index.html" class="fp-menu__link") Авторизация