extends ../template
include ../common/mixins

block content
  .wrapper
    .container__projects
      section.top
        include ../common/menu
        include ../common/header
        .top__bg
          include ../../icons/portfolio_header.svg
        .top__info
          .card__photo.card__photo-about
            img.photo__img(src="./assets/images/avatar.jpg", alt="")
          .card__title.card__title-about Максим Орехов
          .card__text.card__text-about Личный сайт веб разработчика
        .border__left.border__left-projects
        .border__right.border__right-projects
        a(href="#" class="go__to go__to-bottom")
          include ../../icons/arrow.svg
        
      section.slider
        .slider__block-title
          .title__line
          .slider__title Мои Работы
          .title__line
          include ../../icons/works_header.svg
        .slider__container
          .slider__left
            .slider__left-title
              .title__line.title__line-slider
              .slider__left-text Сайт школы онлайн образования
              .title__line.title__line-slider
            .slider__left-tech html, css, javascript
            a(href="#" class="slider__left-button__link")
              include ../../icons/link.svg
              span.button__link-text Посмотреть сайт
          .slider__right
            .slider__item.slider__item-current
              img(class="slider__image-current" src="./assets/images/slider__item1.png")
          .slider__items-bottom
            .slider__item.slider__item-other
              img(class="slider__image" src="./assets/images/slider__item2.png")
              .slider__item-overlay
                include ../../icons/arrow_down.svg
            .slider__item.slider__item-other
              img(class="slider__image" src="./assets/images/slider__item3.png")
              .slider__item-overlay
                include ../../icons/arrow_up.svg
      section.comments
        .comments__bg
          img(src="./assets/images/about_bg_bottom.png" class="comments__bg-img")
        .comments__title
          .title__line.title__line-comments
          .comments__title-text Что обо мне говорят
          .title__line.title__line-comments
          include ../../icons/about_header.svg
        .comments__text
          .comments__text-left
            .comment__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .commentator 
              .commentator__img
                img(class="commentator__image" src="./assets/images/commentator_1.png")
              .commentator__name
                .name__text Ковальчук Дмитрий
                .name__occ основатель LoftSchool
          .comments__text-right
            .comment__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
            .commentator 
              .commentator__img
                img(class="commentator__image" src="./assets/images/commentator_2.png")
              .commentator__name
                .name__text Сабанцев Владимир
                .name__occ преподаватель
        form(action="server.php" method="post" class="form__elem" id="feedback-form")
          .feedback__form
            .form__blur
            .form__inputs
              .form__title
                .title__line
                .form__title-text Связаться со мной
                .title__line
              input(type="text" class="form__block-input" id="name" name="name" placeholder="Имя" required)
              input(type="text" class="form__block-input" id="email" placeholder="Email" name="email" required)
              textarea(type="text" class="form__block-input-textarea" placeholder="Ваше сообщение" id="comment" name="comment")
          .form__buttons
            button(class="send__button" type="submit") Отправить
            input(type="reset" class="reset__button" value="Очистить")
            
        a(href="#" class="go__to")
          include ../../icons/arrow.svg
        
  
  include ../common/footer