.container__about {
  height: 100%;
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;
}

.item__link-about path {
  fill: rgba(255, 255, 255, 0.8);
}

.item__link-about:hover {
  path {
    fill: #fff;
  }
}

.socials__list-about {
  margin: 0;
}

.top {
  position: relative;
  height: 100vh;
  background: url('../images/about-bg.png') center center no-repeat;
  background-size: cover;
  min-height: 650px;
  z-index: 1;
  &__info {
    position: relative;
    margin-top: 150px;
    z-index: 1;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
  }
  &__bg {
    position: absolute;
    height: 300px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    & path {
      fill: rgba(255, 255, 255, 0.05);
    }
    @include tablets {
      display: none;
    }
  }
}

.card__photo-about {
  margin: 0 auto;
}

.card__title-about {
  color: #fff;
}

.card__text-about {
  color: #fff;
}

.border__left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-width: 0 50vw 20vh 0;
  border-color: transparent transparent #efeee9;
  border-style: solid;
  @include tablets {
    border-width: 0 50vw 15vh 0;  
  }
  @include phones {
    border-width: 0 50vw 10vh 0;  
  }
}

.border__right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-width: 0 0 20vh 50vw;
  border-color: transparent transparent #eeebdf;
  border-style: solid;
  @include tablets {
    border-width: 0 0 15vh 50vw;
  }
  @include phones {
    border-width: 0 0 10vh 50vw;
  }
}

.middle {
  display: flex;
  height: 100%;
  z-index: 2;
  justify-content: center;
  @include tablets {
    flex-direction: column;
  }
  &__left {
    display: flex;
    width: 50vw;
    background-color: #efeee9;
    padding-top: 25px;
    flex-direction: column;
    align-items: center;
    @include tablets {
      width: 100vw;
    }
  }
  &__right {  
    width: 50vw;   
    background-color: #eeebdf;
    margin: 0 auto;
    padding: 25px 10px 40px 40px;
    @include tablets {
      width: 100vw;
    }
    @include phones {
    padding: 0;   
    }
  }
}

.block__title {
  &-left {
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      position: absolute;
      z-index: 1;
      top: -77%;
      width: 365px;
    }
    path {
      fill: #e6e5e0;
  }
}
  &-right {
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablets {
      margin-top: 20px;
    }
  }
}

.title__line {
  width: 22px;
  height: 5px;
  margin: 0 16px;
  background-color: #cacbc8;
  z-index: 5;
  &-usefull {
    align-self: flex-start;
    margin-top: 18px;
    @include phones {
    margin-top: 40px;
    }
  }
}

.title__text {
  text-align: center;
  font-size: 63px;
  font-family: "Bernier", sans-serif;
  color: #373e42;
  z-index: 3;
  
  &-small {
    font-size: 35px; 
    color: #455a64;
  }
  &-right {
    font-size: 35px; 
    color: #455a64;
    width: 235px;
    @include phones {
      width: 100%;
    }
  }
}

.title__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.block__info {
  width: 75%;
  margin-top: 60px;
  @include phones {
    width: 100%;
  }
}

.info__img {
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 445px;
  // max-height: 390px;
  @include phones {
    width: 100%;
  }
}

.img__pic {
  max-width: 100%;
  max-height: 100%;
}

.info__text {
  margin-top: 40px; 
  margin-bottom: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #455a64;
  line-height: 1.5em;  
  @include phones {
    padding: 0 10px;
  }
}

.info__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right__text {
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #455a64;
  @include tablets {
    text-align: center;
  }
  @include phones {
    padding: 0 10px;
  }
}

.block__tech {
  @include phones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.tech__block {
  @include tablets {
    text-align: center;
  }
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}
 

.tech__title {
  font-family: "Roboto Medium", sans-serif;
  font-size: 28px;
  color: #455a64;  
  margin-bottom: 20px;
}

.circles {
  fill: none;
  stroke-width: 15;
}
.circle__first {
  stroke: #dfdcd5;
}
.circle__second {
  stroke: #1bb696;
  stroke-dasharray: .0010 282.6;
  transition: all 1s;
}

.tech__progress {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
}

.tech__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1bb696;
  font-weight: bold;
}

.tech__progress {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  @include phones {
    margin-bottom: 30px;
    &:nth-child(n+1) {
      margin-left: 20px;
    }
  }
  &:not(:last-child) {
    margin-right: 40px;
    @include phones {
      margin-right: 0;
    }
  }
}

.tech__name {
  position: absolute;
  color: #10c1a8;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  font-size: 13px;
  font-family: "Roboto Medium", sans-serif; 
}

.contacts {
  height: 100vh;
  background-color: grey;
  position: relative;
  min-height: 974px;
  &__card {
    width: 380px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 7px;
    padding: 35px 35px 40px 40px;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%,-50%); 
    @include phones {
      top: 0;
      transform: translate(-50%, 0);
    }
  }
  &__list {
    font-family: "Roboto Medium", sans-serif;
    font-size: 16px;
    color: #455a64;
  }
  &__item {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 28px;
    }
    path {
      width: 25px;
      height: 25px;
      fill: #00bfa5;
    }
  }
  &__link {
    text-decoration: none;
    color: #455a64;
    margin-left: 10px;        
  }
}

.contacts__card-title {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 45px;
}

.contacts__title {
  font-size: 35px;
  font-family: "Bernier", sans-serif;
  color: #373e42;
}

.map {
  width: 100%;
  height: 100%;
}

.circles:hover .circle-0 {
  stroke-dasharray: .001 282.6;
}
.circles:hover .circle-5 {
 stroke-dasharray: 14.13 282.6;
}
.circles:hover .circle-10 {
  stroke-dasharray: 28.26 282.6;
}
.circles:hover .circle-15 {
  stroke-dasharray: 42.39 282.6;
}
.circles:hover .circle-20 {
  stroke-dasharray: 56.52 282.6;
}
.circles:hover .circle-25 {
  stroke-dasharray: 70.65 282.6;
}
.circles:hover .circle-30 {
  stroke-dasharray: 84.78 282.6;
}
.circles:hover .circle-35 {
  stroke-dasharray: 98.91 282.6;
}
.circles:hover .circle-40 {
  stroke-dasharray: 113.04 282.6;
}
.circles:hover .circle-45 {
  stroke-dasharray: 127.17 282.6;
}
.circles:hover .circle-50 {
  stroke-dasharray: 141.3 282.6;
}
.circles:hover .circle-55 {
  stroke-dasharray: 155.43 282.6;
}
.circles:hover .circle-60 {
  stroke-dasharray: 169.56 282.6;
}
.circles:hover .circle-65 {
  stroke-dasharray: 183.69 282.6;
}
.circles:hover .circle-70 {
  stroke-dasharray: 197.82 282.6;
}
.circles:hover .circle-75 {
  stroke-dasharray: 211.95 282.6;
}
.circles:hover .circle-80 {
  stroke-dasharray: 226.08 282.6;
}
.circles:hover .circle-85 {
  stroke-dasharray: 240.21 282.6;
}
.circles:hover .circle-90 {
  stroke-dasharray: 254.34 282.6;
}
.circles:hover .circle-95 {
  stroke-dasharray: 268.47 282.6;
}
.circles:hover .circle-100 {
  stroke-dasharray: 282.6 282.6;
}