.top-blog {
  height: 50vh;
}

.card__title-blog {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;  
  svg {
    position: absolute;
    top: -60%;
  }
  path {
    fill: rgba(255, 255, 255, 0.05);
  }
}

.border__left-blog,
.border__right-blog {
  border-color: transparent transparent #fff;
}

.title__text-blog {
  color: #fff;
}

.blog {
  display: flex;
  margin-top: 70px;
  &__nav {
    width: 26%;
  }
  &__articles {
    width: 74%;
    padding-left: 50px;    
  }
  &__list {
    text-align: right;
    padding-right: 50px;
  }
  &__item {
    padding: 15px 20px 15px 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #455a64;
    cursor: pointer;
    transition: 0.4s;          
    &:hover {
      color: #00bfa5;
      transition: 0.4s;      
    }
    &-active {
      border-right: 2px solid #00bfa5;
      color: #00bfa5;
      font-weight: bold;
    }
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.article {
  &__item {
    padding-bottom: 70px;
    &:first-child {
      border-bottom: 5px solid #f1f1f2;
    }
    &:not(:first-child) {
      margin-top: 70px;
    }
  }
  &__title {
    font-family: "Bernier", sans-serif;
    font-size: 35px;
    color: #455a64;
    margin-bottom: 30px;
  }
  &__date {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #00bfa5;
    margin-bottom: 30px;    
  }
  &__text {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #455a64;
    line-height: 1.5em;    
  }
}