.rotate__container {
  transition: 1s;
  transform-style: preserve-3d;
  max-height: 400px;
}


.rotate__container .middle__card-front {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;  
  -webkit-backface-visibility: hidden;  
  position: absolute;
}

.rotate__container .middle__card-back {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;    
  -webkit-backface-visibility: hidden;
  position: absolute;
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);  
  -webkit-transform: rotateY(180deg);
  
}

.active {
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);    
  -webkit-transform: rotateY(180deg);
}