.wrapper {
  position: relative;
  width: 100vw;
  min-height: 100%;
  overflow: hidden;
  
  &__main {
    min-height: 100vh;  
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  margin: 0 auto;
  justify-content: space-between;
  &__main {
    min-height: 650px;
    height: 100vh;
  }
}

#parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #a4c1bf;
}

.parallax__layer {
  height: 100%;
  width: 110%;
  position: absolute;
  bottom: 0;
  left: -50px;
  will-change: transform;
  &:first-child .parallax__image {
    height: 100%;
  }
  &:last-child .parallax__image {
    width: 50%;
    left: 20%;
  }
  &:nth-child(5) .parallax__image {
    width: 17%;
    left: 77%;
    top: 0;
    
  }
  &:nth-child(7) .parallax__image {
    width: 21%;
    left: 45%;
    top: 15%;
    
  }
}

.parallax__image {
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.auth__button {
  position: relative;
  align-self: flex-end;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
  margin-top: 25px;
  margin-right: 100px;
  cursor: pointer;
  outline: none;
  transition: 0.5s;  
  overflow: hidden;
  z-index: 3;
  padding: 0;
  transition: 0.6s;  
  @include tablets {
    margin-right: 25px; 
  }
  @include phones {
    margin: 10px auto;      
  }
  &:before {
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    top: 0;
    z-index: -1;
    background: #fff;
    transition: right  0.5s;
    content: "";
  }
  &:hover:before {
    right: 0;
    transition: right 0.5s;  
  }
  &-hidden {
    opacity: 0;
    transition: 0.6s;
  }
}

.auth__text {
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto Medium", sans-serif;
  font-size: 16px;
  transition: 0.5s;
  &:hover {
    color: #00bfa5;
  }
}

.rotate__container{
  display: flex;
  width: 382px;
  align-self: center;
  justify-content: center;
  @include phones {
    max-width: 300px;
  }
}

.middle__card {
  width: 387px;
  align-self: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 7px;
  font-family: "Roboto Medium", sans-serif;
  @include phones {
    max-width: 300px;
  }
}

.card {
  &__photo {
  width: 145px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin: 40px auto 20px auto;
  }
  &__title {
    font-family: "Roboto Medium", sans-serif;
    font-size: 28px;
    text-align: center;
    color: #455a64;
  }
  &__text {
    font-family: "Roboto Regular", sans-serif;
    font-size: 16px;
    text-align: center;
    color: #455a64;
  } 
}

.photo__img {
  width: 100%;
  height: 100%;
}

.socials__list {
  display: flex;
  justify-content: space-around;
  width: 140px;
  margin: 35px auto;
}

.list__item {
  align-self: center;
  width: 30px;
  height: 20px;
}

.item__link {
  display: inline-block;
  &:hover {
    path {
      fill: #00bfa5;
      transition: 0.5s;
    }
  }
}

.item__link  path {
  fill: #6fd1c6;
  transition: 0.5s;  
}

.item__link svg {
  width: 30px;
  height: 20px;
}

.buttons__list {
  display: flex;
  background-color: rgba(10, 172, 152, 0.7);
  overflow: hidden;
  border-radius: 0 0 7px 7px;
}

.buttons__item {
  &:nth-child(2) {
    border-left: 2px solid #73c8c0;
    border-right: 2px solid #73c8c0;    
  }
}

.buttons__link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: inline-flex;
  padding: 15px 32px;
  transition: 0.5s;  

  @include phones {
  padding: 18px 17px;
  }
  &:hover {
    background-color: rgba(11, 144, 136, 0.7);
    transition: 0.5s;    
  }
}

.copyright {
  align-self: center;
  @include phones {
    display: none;
  }
  &-phones {
    display: none;
    @include phones {
      display: block;
    }
  }
  &__text {
    font-family: "Roboto Light", sans-serif;
    color: #fff;
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 20px;
    @include phones {
      text-align: center;
      margin-bottom: 10px;
      margin-top: 0;
    }
  }
}
